# Node.js / React
frontend/node_modules/
frontend/build/
frontend/.env

# Python / Flask
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.vscode/

# Conda environment metadata
*.conda
*.env
*.egg-info
*.ipynb_checkpoints
*.DS_Store

# OS files
Thumbs.db
.DS_Store

# Git
.git/
